FILLNA FILLS THE NAN VALUES WITH GIVEN  VALUES (INPUT) IN DATASET
SYNTAX: DataFrame.fillna()

In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Fortune_10.csv") #C:\\Users\\DANIA NIAZI\\Desktop\\DANIYA\\MACHINE LEARNING\\Fortune_10.csv
df

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,NaN,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,NaN,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,NaN,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,NaN,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,NaN,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#you can see the missing value showing nan
df.fillna(0)

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,0,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,0,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,0,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,0,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,0,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,0,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,0.0,0,0,0,0.0,0,0,0.0,0

In [5]:
df.fillna(4)
#fill scalar value

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,4,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,4,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,4,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,4,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,4,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,4,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,4.0,4,4,4,4.0,4,4,4.0,4

### Fill specific columns by dictionaries

In [6]:
df.fillna({"Name": "none", "Industry":"no"})
#{"col name" :"value to be displayed"}

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,no,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,none,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,none,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,none,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,none,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,no,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,NaN,NaN,none,no,NaN,NaN,NaN,NaN,NaN

### method parameter

In [7]:
df.fillna(method="ffill") #forward fill
#method use when want to fill with previous or forward value

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,Financial Services,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,Stripfind,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,Stripfind,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,Stripfind,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,Stripfind,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,Health,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,9.0,no,Ganzlax,Health,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%

In [8]:
df.fillna(method="pad")

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,Financial Services,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,Stripfind,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,Stripfind,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,Stripfind,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,Stripfind,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,Health,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,9.0,no,Ganzlax,Health,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%

In [9]:
df.fillna(method="bfill")

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,IT Services,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,Kayelectronics,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,Kayelectronics,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,Kayelectronics,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,Kayelectronics,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### AXIS

In [10]:
df.fillna(axis=0)

ValueError: Must specify a fill 'value' or 'method'.

In [11]:
#we need to identitify value 
df.fillna(method="ffill", axis=0)

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,Financial Services,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,Stripfind,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,Stripfind,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,Stripfind,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,Stripfind,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,Health,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,9.0,no,Ganzlax,Health,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%

In [12]:
df.fillna(method="ffill", axis=1)

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5.27455e+06,30%
1,2,no,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",1.14129e+07,20%
2,3,yes,Stripfind,Stripfind,2012,"$10,597,009","7,591,189 Dollars",3.00582e+06,7%
3,4,yes,yes,IT Services,2013,"$14,026,934","7,429,377 Dollars",6.59756e+06,26%
4,5,yes,yes,Health,2009,"$10,573,990","7,435,363 Dollars",3.13863e+06,8%
5,6,no,no,Health,2006,"$13,898,119","5,470,303 Dollars",8.42782e+06,23%
6,7,yes,yes,Health,2010,"$9,254,614","6,249,498 Dollars",3.00512e+06,6%
7,8,no,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5.57383e+06,4%
8,9,no,Ganzlax,Ganzlax,2011,"$14,001,180","3,878,113 Dollars",1.19012e+07,18%
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.fillna(method="bfill", axis=1)

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1,yes,Lamtone,IT Services,2009,"$11,757,018","6,482,465 Dollars",5.27455e+06,30%
1,2,no,Stripfind,Financial Services,2010,"$12,329,371","916,455 Dollars",1.14129e+07,20%
2,3,yes,Stripfind,2012,2012,"$10,597,009","7,591,189 Dollars",3.00582e+06,7%
3,4,yes,IT Services,IT Services,2013,"$14,026,934","7,429,377 Dollars",6.59756e+06,26%
4,5,yes,Health,Health,2009,"$10,573,990","7,435,363 Dollars",3.13863e+06,8%
5,6,no,Health,Health,2006,"$13,898,119","5,470,303 Dollars",8.42782e+06,23%
6,7,yes,Health,Health,2010,"$9,254,614","6,249,498 Dollars",3.00512e+06,6%
7,8,no,Kayelectronics,Health,2009,"$9,451,943","3,878,113 Dollars",5.57383e+06,4%
8,9,no,Ganzlax,2011,2011,"$14,001,180","3,878,113 Dollars",1.19012e+07,18%
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Limit parameter

In [14]:
df.fillna(0, limit=1) #need to specify value

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,0,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,0,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,NaN,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,NaN,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,NaN,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,NaN,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,0.0,0,NaN,NaN,0.0,0,0,0.0,0

In [15]:
#only 1 fill

In [17]:
df.fillna(method="ffill", limit=2)

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,Financial Services,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,Stripfind,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,Stripfind,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,NaN,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,NaN,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,Health,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,9.0,no,Ganzlax,Health,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%

### inplace

In [19]:
#default vadflue false
#modify data frame on True
#don't cretae new data frame

In [20]:
df.fillna(5,inplace=True)
df

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,5,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,5,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,5,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,5,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,5,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,5,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,5.0,5,5,5,5.0,5,5,5.0,5

In [21]:
df #updated

,ID,job_vacancy,Name,Industry,Inception,Revenue,Expenses,Profit,Growth
0,1.0,yes,Lamtone,IT Services,2009.0,"$11,757,018","6,482,465 Dollars",5274553.0,30%
1,2.0,no,Stripfind,Financial Services,2010.0,"$12,329,371","916,455 Dollars",11412916.0,20%
2,3.0,yes,Stripfind,5,2012.0,"$10,597,009","7,591,189 Dollars",3005820.0,7%
3,4.0,yes,5,IT Services,2013.0,"$14,026,934","7,429,377 Dollars",6597557.0,26%
4,5.0,yes,5,Health,2009.0,"$10,573,990","7,435,363 Dollars",3138627.0,8%
5,6.0,no,5,Health,2006.0,"$13,898,119","5,470,303 Dollars",8427816.0,23%
6,7.0,yes,5,Health,2010.0,"$9,254,614","6,249,498 Dollars",3005116.0,6%
7,8.0,no,Kayelectronics,Health,2009.0,"$9,451,943","3,878,113 Dollars",5573830.0,4%
8,9.0,no,Ganzlax,5,2011.0,"$14,001,180","3,878,113 Dollars",11901180.0,18%
9,5.0,5,5,5,5.0,5,5,5.0,5